html {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  background-color: #e8e8e8;
  font-family: Calibri;
}

body img{
object-fit: cover;
}

/* Start of header CSS */
header {
  position: sticky;
  margin-bottom: 50px;
}

header h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #b33636;
}

header ul {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: sticky;
}

header ul li {
  display: inline;
}

header ul li a {
  display: inline-block;
  background-color: lightgray;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px 100px;
  text-decoration: none;
  color: #9E9E9E;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-radius: 30px;
}
/* End of header CSS */

/* Start of body CSS */
body h1 {
  font-size: 60px;
}

body h2 {
  font-size: 32px;
  color: #9E9E9E;
}

body h3 {
  color: #9E9E9E;
}

/* End of body CSS */

/* Start of form CSS */

form textarea {
  font-family: 'calibri';
  font-size: 1.17em;
  width: 500px;
}

form input[type='text'] {
  font-family: 'calibri';
  font-size: 1.17em;
  width: 500px;
}

form h3 {
  font-size: 32px;
  color: #9E9E9E;
}
/* End of form CSS */

/* Start of footer CSS */
footer {
  color: #9E9E9E;
  text-align: center;
  clear: both;
}

/* End of footer CSS */

/* Start of class CSS */
.nav a:hover {
  opacity: 100%;
}

.nav a {
  opacity: 80%
}

.nav {
  clear: both;
}

.home {
  margin: auto;
  width: 60%;
}

.education {
  margin: auto;
  width: 60%;
  text-align: center;
}

.education h2 {
  color:#b33636
}

.education table {
  width:1000px;
  text-align: left;
}

.projects {
  margin: auto;
  width: 60%;
  text-align: center;
}

.projects h2 {
  color:#b33636
}

.contact {
  margin: auto;
  width: 60%;
  text-align: center;
}

.contact h2 {
  color:#b33636
}
/* End of class CSS */

/* Start of id CSS */
#logo {
  float: left;
}

#aboutme {
  float: left;
}

#aboutme {
  width: 500px;
}

#aboutme2 {
  width: 500px;
  float: right;
}

#aboutme2 img{
  float: lef;
}

#reset {
  clear: both;
}

#certification {
  display: inline-block;
  vertical-align: middle;
}

#resume {
  text-align: center;
}

#pic_right {
  display: block;
  float: right;
}

#pic_left {
  display: block;
  float: left;
}
/* End of id CSS */

/* Start of Social Media CSS */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-github {
  background: #171515;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #d62976  ;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.social_media {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
}