html {
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: Calibri;
}

body {
  background-color: #e8e8e8;
  font-family: Calibri;
}

/* Start of header CSS */

/* End of header CSS */

/* Start of body CSS */
h1 {
  font-size:1rem;
}

h2 {
  font-size:.75rem;
}

h3 {
  font-size:.585rem;
}

/* small screens */
@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
  h2 {font-size:1.125rem;}
  h3 {font-size:.8775rem;}
}

/* medium screens */
@media (min-width: 768px) {  
  h1 {font-size:2rem;}
  h2 {font-size:1.5rem;}
  h3 {font-size:1.17rem;}
}

/* large screens */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;}
  h2 {font-size:1.875rem;}
  h3 {font-size:1.4625rem;}
}

/* xl screens */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;}
  h2 {font-size:2.25rem;}
  h2 {font-size:1.755rem;}
}
/* End of body CSS */

/* Start of form CSS */

form textarea {
  font-family: 'calibri';
  font-size: 1.17em;
}

form input[type='text'] {
  font-family: 'calibri';
  font-size: 1.17em;
}

form h3 {
  font-size: 32px;
  color: #9E9E9E;
}
/* End of form CSS */

/* Start of footer CSS */
footer {
  color: #9E9E9E;
}

/* End of footer CSS */

/* Start of class CSS */
.nav a:hover {
  opacity: 100%;
}

.nav a {
  opacity: 80%
}

.home {
  margin: auto;
  width: 60%;
  text-align: center;
}

.education {
  margin: auto;
  width: 60%;
  text-align: center;
}

.education h2 {
  color:#b33636
}

.education table {
  width:1000px;
  text-align: left;
}

.projects {
  margin: auto;
  width: 60%;
  text-align: center;
}

.projects h2 {
  color:#b33636
}

.contact {
  margin: auto;
  width: 60%;
  text-align: center;
}

.contact h2 {
  color:#b33636
}
/* End of class CSS */

/* Start of id CSS */

#resume {
  text-align: center;
}


/* End of id CSS */

/* Start of Social Media CSS */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa-github {
  background: #171515;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #d62976  ;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.social_media {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
}